.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form{
    
    width: 400px;
}
.text{
    display: none;
}

body{
    background: linear-gradient(to bottom, #b6b6b6, #e7e7e7, #b6b6b6);
}